<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body>


            <!-- Header-->
            <header class="py-5" th:fragment="home">
                <div class="container px-5 pb-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-xxl-5">
                            <!-- Header text content-->
                            <div class="text-center text-xxl-start">
                                <div class="badge bg-gradient-primary-to-secondary text-white mb-4"><div class="text-uppercase">Backend Development &middot; API Design &middot; Software Developer</div></div>
                                <div class="fs-3 fw-light text-muted"><strong>I'm passionate about building robust backend systems</strong></div>
                                <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Karesse DSouza</span></h1>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                    <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/resume">My Resume</a>
                                    <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="/projects">My Projects</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-7">
                            <!-- About Me section placed in parallel to left content -->
                            <section class="bg-light py-5 h-100 d-flex align-items-center">
                                <div class="container px-5">
                                    <div class="row gx-5 justify-content-center">
                                        <div class="col-xxl-12">
                                            <div class="text-center my-5">
                                                <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About Me</span></h2>
                                                <p class="text-muted">Software Engineer specializing in backend development with strong expertise in Java, Spring Boot, MongoDB, and Oracle SQL. Proven ability to design and build scalable microservices, optimize database performance, and develop data-driven enterprise applications. Proficient in creating RESTful APIs, managing Oracle database and NoSQL databases, and ensuring seamless integration between backend systems and frontend applications. Let's connect and create impactful technology together!</p>
                                                <div class="d-flex justify-content-center fs-2 gap-4">
                                                    <a class="text-gradient" href="https://www.linkedin.com/in/karesse-dsouza/" target="_blank"><i class="bi bi-linkedin"></i></a>
                                                    <a class="text-gradient" href="https://github.com/karessekend18" target="_blank"><i class="bi bi-github"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </header>

        <!-- Bootstrap core JS-->

    </body>
</html>
