<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
    <body>
    <div th:fragment="projects">

            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Travel App (Cab Booking Microservice)</h2>
                                            <p>Built microservice-based backend using Spring Boot and RESTful APIs to manage cab bookings and passenger profiles for a travel company.Implemented and tested key services including booking, customer management, and profile APIs using JUnit to ensure code reliability and maintain high test coverage.</p>
                                        </div>
<!--                                        <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />-->
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 2-->
                            <div class="card overflow-hidden shadow rounded-4 border-0">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Client Management System</h2>
                                            <p>Developed a responsive web-based application using HTML, CSS, JavaScript, and Angular to manage clients and concurrent projects. MySQL backend integration with dynamic dashboards and secure data storage. Version-controlled the project using Git and hosted it publicly on GitHub for collaboration and deployment. </p>
                                        </div>
<!--                                        <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="contact.html">Contact me</a>
                    </div>
                </div>
            </section>
    </div>

        <!-- Bootstrap core JS-->

    </body>
</html>
